.a1{
    color: white;
    height: 80px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}
.a2{
    color: white;
    height: 30px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
    margin-top: 50px;
}
.a3{
    color: white;
    height: 80px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}
.a4{
    color: white;
    height: 80px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}
.a5{
    color: white;
    height: 80px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}
.a6{
    color: white;
    height: 60px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}
.a7{
    color: white;
    height: 60px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}
.a8{
    color: white;
    height: 30px;
    background-color: rgb(191, 21, 21);
    text-align: center;
    border: 5px solid white;
}